<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.minutes.cal-trigger</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/$USER/.local/bin/python3</string>
        <string>/Users/$USER/.minutes/cal-trigger.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/$USER/.minutes</string>
    <key>StandardOutPath</key>
    <string>/Users/$USER/.minutes/cal-trigger.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/$USER/.minutes/cal-trigger.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/$USER/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
